body{
    background-color: #403c3c;
    color: white;
}
.card-title, .card-text{
    color: black;
}
.dropdown-item:hover{
    background-color: #292929;
}
.link-para{
    font-size: 72px;
}

/*font-family: 'Texturina', serif;*/
